<div class="thumbnail">
    <img src="{{ asset('img/products/shoe-' ~ productType.id ~ '.jpg') }}" class="img-fluid img-responsive" alt="{{ productType.name }}">
    <div class="caption">
        <h5 class="text-primary">{{ productType.brand.name }}</h5>
        <h3>{{ productType.name | capitalize }}</h3>
        <p>{{ productType.description }}</p>
        <p>
            <span class="badge">{{ productType.price|format_currency('EUR') }}</span>
            <a href="{{ path('store_detail_product', {'id': productType.id, 'slug': productType.slug}) }}" class="btn btn-default">Voir la fiche</a>
        </p>
    </div>
</div>